/* work sens  form google */
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared styles */


.text-light-gray{
    color: #727272;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}


/* header styles */
header{
    background: rgba(255,144,14,0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}
nav  li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
   text-decoration: none; 
   color: #131313;
}



/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img{
    margin-top: 20px;
    width: 100%;
}
.btn-primary{
    background-color: rgb(237, 237, 10);
    height: 60px;
    font-weight: 600;
    width: 90px;
    padding: 5px;
    border-radius: 8px;
  color: #FFF;
  font-size: 1.25rem;
  cursor: pointer;
  border: 0;
}



/* main section */
main{
    max-width:1440px;
    margin:70px auto ;
}
/* teams container */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .Quick-List{
    color: #727272; 
    font-weight: 500;
}
.teams-title .text-features{
    color: #FF900E; 
    font-weight: 700;
}



/* features section  */
.features{
    margin-top: 130px;
    display: flex;
    gap: 100px;
}
.features .section-title{
    border-left: 5px solid #FF900E;
   padding-left: 20px;
}

.features-content .card{
    padding: 30px;
    margin-bottom: 20px;
border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgb(0,0,0,0.06);

}
.features-img img{
    height: 90%;
    margin-left: 50px;

}

.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;
}
.ten-years-badge p{
font size: 1.5rem;
}
/* Facts section */
.facts-card-container {
    display: flex;
    justify-content:space-around ;
}
.facts-card-container .card{
border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding:30px 30px ;

}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* sponsors */
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
}
.sponsors-img-container img{
    width:165px ;

}
/* footer section */
.footer{
    text-align: center;
}

/* responsive */
/* mobile device */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container, .facts-card-container, .sponsors-img-container, .features
    {
        flex-direction: column;
    }
    .features-img img{
        width: 80%;
        margin-left:auto;
    }
    .ten-years-badge{
       position: static;
      max-width: 300px;
    }
    .teams-img-container{
        grid-template-columns: 1fr;

    }
    .teams-content, .facts-card-container{
        padding-right: 20px;
        padding-left: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    
}

/* tablet or medium devices */

@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 50px;
    } 
    nav, 
    .features, .teams-container,
    .sponsors-img-container{
        flex-direction: column;
    }

   
}
